body {
  background-color: #174854;
  
}

p{
    color: aliceblue;
}

h1{
    color: aliceblue;
}

h2{
    color: aliceblue;
}

div.jumbotron{
    background-color: #468191;
    background-image: url('./images/better-390x337.jpg');
    width: 100vw;
    height: auto;
    padding-bottom: 0px;
    background-repeat: repeat;
    background-position: bottom;
}

div.jumbotron p a{
    background-color: #174854;
    border-color: aliceblue
}

a{
    text-decoration: underline;
    text-decoration: aliceblue;
    color: aliceblue 
}

div.col-md-12{
  border-style: groove;
  border-width: 6px;
  border-color: #468191;
}

div.col-md-4{
    border-style: groove;
    border-width: 6px;
    border-color: #468191;
}

div.col-md-6{
    border-style: groove;
    border-width: 6px;
    border-color: #468191;
}
div.col-md-3{
    border-style: groove;
    border-width: 6px;
    border-color: #468191;
}