
@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');

<style>
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
   }

body {
  background-color: #383838;
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-family: sans-serif;
  color: #2a2a2a; }

a {
  color: #fa5b3d;
  text-decoration: none
}
  a:hover {
    color: #ffffff;
  }

#main {
  padding: 50px; }

h1{
  font-size: 8em;
  color: #fa5b3d;
  font-family: "Fugaz One", cursive;
}

P{
  color: #fa5b3d;
  font-size: 3em;
  line-height: 2px;
}


nav{
  width: 100%;
  height: 80px;
  background-color: #282828;
  padding: 15px
}

nav p{
  font-family: "Fugaz One";
  color: #fa5b3d;
  font-size: 72px;
  line-height: 0px;
  float: left;
  padding: 0px 20px;
}

nav ul{
  float: left;
}
nav ul li{
  float: left;
  list-style: none;
  position: relative;

}

nav ul li a {
  display: block;
  font-family: "Fugaz One";
  color: #fa5b3d;
  font-size: 24px;
  padding: 34px 14px;
  text-decoration: none;

}

nav ul li ul{
  display: none;
  position: absolute;
  background-color: white;
  padding:4px;
  border-radius: 0px 0px 6px 6px
}

nav ul li:hover ul {
  display: block;
} 

nav ul li ul li{
  padding: 19px 14px;
  width:180px
  border-radius: 4px;
}

nav ul li ul li a{
  padding: 19px 14px;
}

nav ul li ul li a:hover {
  background-color: #708090;
}

</style>